<mat-toolbar [ngClass]="{'dark-mode': isDarkMode, 'light-mode': !isDarkMode}">
  <!-- Logo is on left -->
  <a routerLink="/dashboard">
    <img src="/logo/logo_rentserve.jpg" alt="Logo" class="logo">
  </a>
  <a routerLink="/dashboard">
    <span id="logoText">Rent-Serve</span>
  </a>
  <!-- Space between buttons -->
  <span class="spacer"></span>

  <!-- First button materials  -->
  <!-- Display the button when the user is connected -->
  @if (isAuthenticated) {
    <button mat-fab extended class="btn-rentServeBasket">
      <mat-icon>construction</mat-icon>
      Matériels
    </button>
  }

  <!-- Second button serves -->
  <!-- Display the button when the user is connected -->
  @if (isAuthenticated) {
    <button mat-fab extended class="btn-rentServeBasket">
      Services
      <mat-icon>volunteer_activism</mat-icon>
    </button>
  }

  <!-- Space between buttons -->
  <span class="spacer"></span>

  <!-- Thirds button basket -->
  @if (isAuthenticated) {
    <button mat-fab extended class="btn-rentServeBasket">
      <span>Panier</span>
      <mat-icon>shopping_basket</mat-icon>
    </button>
  }

  <!-- The right button for connect -->
  @if (isAuthenticated) {
    <button mat-fab extended [matMenuTriggerFor]="settingsMenu" class="btn-login">
      <mat-icon>account_circle</mat-icon>
      {{ firstname }}
    </button>

    <mat-menu #settingsMenu>
      <button class="btnSetting" mat-menu-item [routerLink]="'user/'+userId+'/edit-profile'">Modifier profile</button>
      <button class="btnSetting" mat-menu-item (click)="logout()">Déconnecter</button>
    </mat-menu>
  } @else {
    <button mat-fab extended (click)="openLoginModal()" class="btn-login">
      <span>Connexion</span>
      <mat-icon>account_circle</mat-icon>
    </button>
  }

</mat-toolbar>
