@use '@angular/material' as mat;

mat-toolbar {
  font-size: 17px;
  height: 3.5vw;
}

/* Size for logo */
.logo {
  padding-top: 7px;
  height: 50px;
  margin-right: 16px;
}

// Remove the underline from the link
a {
  text-decoration: none;
}


/* To make sure the buttons are in the middle. */
.spacer {
  flex: 1 1 auto;
}

/* Space between buttons */
button {
  margin: 0 20px;
  height: 50px;
}

/* Delete space*/
.btnSetting {
  margin: 0;
}

/*
 * Style for light mode
 */
.light-mode {
  background-color: #E0E0E0;
  color: #545E4C;

  // Text logo
  #logoText {
    color: #545E4C;
  }

  // Button for login
  .btn-login {
    background-color: #4E9442;
    color: white;
  }

  // Buttons for materials, serves and basket
  .btn-rentServeBasket {
    background-color: #6d7c5f;
    color: white;
  }

}

/*
 * Style for dark mode
 */
.dark-mode {
  background-color: #525252;
  color: #cbd1c1;

  // Text logo
  #logoText {
    color: #cbd1c1;
  }

  // Button for login
  .btn-login {
    background-color: #baf2b5;
    color: black;
    width: 135px;
  }

  // Buttons for materials, serves and basket
  .btn-rentServeBasket {
    background-color: #ccd5b9;
    color: black;
  }
}

// TODO Check how can I change color in light and dark theme
.mat-mdc-menu-item {
  background-color: #f0f0f0;
  color: #545E4C;

  &:hover {
    background-color: #6d7c5f;
    color: #f0f0f0;
  }
}
