<div class="scroll-container" [ngClass]="{'dark-mode': isDarkMode, 'light-mode': !isDarkMode}">
  <!-- First Grid -->
  <mat-grid-list cols="3" rowHeight="1:1" class="article-1">
    <!-- Presentation -->
    <mat-grid-tile>
      1
    </mat-grid-tile>

    <!-- logo -->
    <mat-grid-tile>
      <img src="/logo/logo.jpg" alt="Logo" class="logo">
    </mat-grid-tile>

    <!-- Registration -->
    <mat-grid-tile>
      <form>
        <h5>Inscription</h5>
        <div class="form-group-register">
          <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Entrez votre nom">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Prénom</mat-label>
            <input matInput placeholder="Entrez votre prénom">
          </mat-form-field>
        </div>

        <div class="form-group-register">
          <mat-form-field appearance="outline">
            <mat-label>Pseudo</mat-label>
            <input matInput placeholder="Entrez votre pseudo">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="adresse@email.com">
            <mat-icon matPrefix>alternate_email</mat-icon>
          </mat-form-field>
        </div>

        <div class="form-group-register">
          <mat-form-field appearance="outline">
            <mat-label>Date de naissance</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input type="password" matInput placeholder="Mot de passe">
            <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>
        </div>

        <div class="btn-register">
          <button mat-stroked-button>S'inscrire</button>
        </div>
      </form>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- Second Grid -->
  <mat-grid-list cols="3" rowHeight="1:1" class="article-2">
    <!-- -->
    <mat-grid-tile>
      1
    </mat-grid-tile>

    <!-- -->
    <mat-grid-tile>
      2
    </mat-grid-tile>

    <!-- -->
    <mat-grid-tile>
      3
    </mat-grid-tile>
  </mat-grid-list>

  <!-- third Grid -->
  <mat-grid-list cols="3" rowHeight="1:1" class="article-3">
    <!-- -->
    <mat-grid-tile>
      1
    </mat-grid-tile>

    <!-- -->
    <mat-grid-tile>
      2
    </mat-grid-tile>
    <!-- -->

    <mat-grid-tile>
      3
    </mat-grid-tile>
  </mat-grid-list>

  <!-- fourth Grid -->
  <mat-grid-list cols="3" rowHeight="1:1" class="article-4">
    <!-- -->
    <mat-grid-tile>
      1
    </mat-grid-tile>

    <!-- -->
    <mat-grid-tile>
      2
    </mat-grid-tile>

    <!-- -->
    <mat-grid-tile>
      3
    </mat-grid-tile>
  </mat-grid-list>
</div>
