<div class="scroll-container" [ngClass]="{'dark-mode': isDarkMode, 'light-mode': !isDarkMode}">
  <!-- First Grid -->
  <mat-grid-list cols="3" rowHeight="1:1" class="article-1">
    <!-- Presentation -->
    <mat-grid-tile>
      <div class="presentationRentServe">
        <p>
          Louer ou prêter du matériel facilement, tout en permettant à la communauté de s'entraider contre rémunération.
          Profitez d'une plateforme sécurisée pour économiser ou rentabiliser vos équipements.<br/>
          Inscrivez-vous maintenant et commencez à partager !
        </p>
      </div>
    </mat-grid-tile>

    <!-- logo -->
    <mat-grid-tile>
      <img ngSrc="/logo/logo.jpg" alt="Logo" class="logo" fill>
    </mat-grid-tile>

    <!-- Registration -->
    <mat-grid-tile>
      <form class="form-register">
        <h5>Inscription</h5>
        <div class="form-group-register">
          <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Entrez votre nom">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Prénom</mat-label>
            <input matInput placeholder="Entrez votre prénom">
          </mat-form-field>
        </div>

        <div class="form-group-register">
          <mat-form-field appearance="outline">
            <mat-label>Pseudo</mat-label>
            <input matInput placeholder="Entrez votre pseudo">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="adresse@email.com">
            <mat-icon matPrefix>alternate_email</mat-icon>
          </mat-form-field>
        </div>

        <div class="form-group-register">
          <mat-form-field appearance="outline">
            <mat-label>Date de naissance</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input type="password" matInput placeholder="Mot de passe" [type]="hide ? 'password' : 'text'">
            <mat-icon matPrefix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </mat-form-field>
        </div>

        <div class="btn-register">
          <button mat-stroked-button>S'inscrire</button>
        </div>
      </form>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- Second Grid -->
  <mat-grid-list cols="3" rowHeight="1:1" class="article-2">
    <!-- Rent a material -->
    <mat-grid-tile>
      <div>
        <h5 class="titleHomePresentation">Mettez vos outils en location</h5>
        <img src="/picturesDev/outillages.png" alt="louer outils" class="imgHomePresentation"/>
      </div>
    </mat-grid-tile>

    <!-- -->
    <mat-grid-tile>
      <div>
        <img src="/picturesDev/rendre_service.png" alt="rendre services" class="imgHomePresentation"/>
        <h5 class="titleHomePresentation">Mettez vos outils en location</h5>
      </div>
    </mat-grid-tile>

    <!-- -->
    <mat-grid-tile>
      <div>
        <h5 class="titleHomePresentation">Gagner de l'argent</h5>
        <img src="/picturesDev/rendre_service.png" alt="rendre services" class="imgHomePresentation"/>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- third Grid -->
  <mat-grid-list cols="3" rowHeight="3:1" class="article-3">
    <!-- Carousel for pictures -->
    <div class="carousel-picture">
      <div class="carousel-track">
        <div class="carousel-item">
          <img src="/picturesDev/outillages.png" alt="Image"/>
        </div>
        <!-- Dupliquer les items pour la boucle -->
        <div class="carousel-item">
          <img src="/picturesDev/rendre_service.png" alt="Image"/>
        </div>
        <div class="carousel-item">
          <img src="/picturesDev/outillages.png" alt="Image"/>
        </div>
        <!-- Dupliquer les items pour la boucle -->
        <div class="carousel-item">
          <img src="/picturesDev/rendre_service.png" alt="Image"/>
        </div>
        <div class="carousel-item">
          <img src="/picturesDev/outillages.png" alt="Image"/>
        </div>
        <!-- Dupliquer les items pour la boucle -->
        <div class="carousel-item">
          <img src="/picturesDev/rendre_service.png" alt="Image"/>
        </div>
        <div class="carousel-item">
          <img src="/picturesDev/outillages.png" alt="Image"/>
        </div>
        <!-- Dupliquer les items pour la boucle -->
        <div class="carousel-item">
          <img src="/picturesDev/rendre_service.png" alt="Image"/>
        </div>
        <div class="carousel-item">
          <img src="/picturesDev/outillages.png" alt="Image"/>
        </div>
        <!-- Dupliquer les items pour la boucle -->
        <div class="carousel-item">
          <img src="/picturesDev/rendre_service.png" alt="Image"/>
        </div>
      </div>
    </div>

    <!-- Carousel for reviews -->
    <div class="carousel-review">
      <div class="carousel-track">
        <div class="carousel-item">
          <img src="/picturesDev/outillages.png" alt="Image"/>
        </div>
        <!-- Dupliquer les items pour la boucle -->
        <div class="carousel-item">
          <img src="/picturesDev/rendre_service.png" alt="Image"/>
        </div>
        <div class="carousel-item">
          <img src="/picturesDev/outillages.png" alt="Image"/>
        </div>
        <!-- Dupliquer les items pour la boucle -->
        <div class="carousel-item">
          <img src="/picturesDev/rendre_service.png" alt="Image"/>
        </div>
        <div class="carousel-item">
          <img src="/picturesDev/outillages.png" alt="Image"/>
        </div>
        <!-- Dupliquer les items pour la boucle -->
        <div class="carousel-item">
          <img src="/picturesDev/rendre_service.png" alt="Image"/>
        </div>
        <div class="carousel-item">
          <img src="/picturesDev/outillages.png" alt="Image"/>
        </div>
        <!-- Dupliquer les items pour la boucle -->
        <div class="carousel-item">
          <img src="/picturesDev/rendre_service.png" alt="Image"/>
        </div>
        <div class="carousel-item">
          <img src="/picturesDev/outillages.png" alt="Image"/>
        </div>
        <!-- Dupliquer les items pour la boucle -->
        <div class="carousel-item">
          <img src="/picturesDev/rendre_service.png" alt="Image"/>
        </div>
      </div>
    </div>
  </mat-grid-list>

</div>
