@use '@angular/material' as mat;

.scroll-container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  ///* Masquer le scrollbar mais permettre le défilement */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Masquer le scrollbar pour Chrome, Safari et Opera */
.scroll-container::-webkit-scrollbar {
  display: none;
}

// Size for grid list (all screen)
mat-grid-list {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  padding: 16px;
  box-sizing: border-box;
}


// Size of Logo
.logo {
  height: 600px;
  width: 600px;
}

// space between input form
mat-form-field {
  margin-left: 10px;
}

.btn-register {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

/*
 * Style for light mode
 */
.light-mode {

  // Section color
  .article-1, .article-3 {
    color: #545E4C;
  }

  .article-2, .article-4 {
    background-color: #6D7C5F;
    color: #F0F0F0;
  }

  // Color for form registration
  .form-group-register {
    @include mat.form-field-overrides((
      outlined-outline-color: #6D7C5F,
      outlined-focus-outline-color: #6D7C5F,
      outlined-caret-color: #6D7C5F,
      outlined-hover-outline-color: #6D7C5F,
      outlined-label-text-color: #6D7C5F,
      outlined-focus-label-text-color: #6D7C5F,
      outlined-hover-label-text-color: #4E9442,
      outlined-input-text-placeholder-color:#4E9442,
    ));
  }

  // Button registration only
  .btn-register .mat-mdc-button-base {
    color: #6D7C5F;
    --mdc-outlined-button-outline-color: #6D7C5F;
    --mat-outlined-button-ripple-color: #6D7C5F;
    --mat-outlined-button-state-layer-color: #6D7C5F;
    --mat-outlined-button-hover-state-layer-opacity: 0.10;
    --mat-outlined-button-focus-state-layer-opacity: 0.10;
    --mat-outlined-button-pressed-state-layer-opacity: 0.10;
    --mdc-outlined-button-label-text-weight: 400;
    --mdc-outlined-button-label-text-size: 17px;
  }

  // Button registration only on hover
  .btn-register .mat-mdc-button-base:hover {
    color: white;
    --mat-outlined-button-hover-state-layer-opacity: 0.60;
  }

}


/*
 * Style for dark mode
 */
.dark-mode {

  // Section color
  .article-1, .article-3 {
    background-color: #2B2B2B;
    color: #CBD1C1;
  }

  .article-2, .article-4 {
    background-color: #454D3E;
    color: #CBD1C1;
  }

  // Color for form registration
  .form-group-register {
    @include mat.form-field-overrides((
      outlined-outline-color: #CBD1C1,
      outlined-focus-outline-color: #CBD1C1,
      outlined-caret-color: #CBD1C1,
      outlined-hover-outline-color: #CBD1C1,
      outlined-label-text-color: #CBD1C1,
      outlined-focus-label-text-color: #CBD1C1,
      outlined-hover-label-text-color: #BAF2B5,
      outlined-input-text-placeholder-color:#BAF2B5,
      outlined-input-text-color: #CCD5B9,
    ));
  }

  // Button registration only
  .btn-register .mat-mdc-button-base {
    color: #CCD5B9;
    --mdc-outlined-button-outline-color: #CCD5B9;
    --mat-outlined-button-ripple-color: #CCD5B9;
    --mat-outlined-button-state-layer-color: #CCD5B9;
    --mat-outlined-button-hover-state-layer-opacity: 0.10;
    --mat-outlined-button-focus-state-layer-opacity: 0.10;
    --mat-outlined-button-pressed-state-layer-opacity: 0.10;
    --mdc-outlined-button-label-text-weight: 400;
    --mdc-outlined-button-label-text-size: 17px;
  }

  // Button registration only on hover
  .btn-register .mat-mdc-button-base:hover {
    color: white;
    --mat-outlined-button-hover-state-layer-opacity: 0.60;
  }
}
