<div class="cards-container" [ngClass]="{'dark-mode-toolbar': isDarkMode, 'light-mode-toolbar': !isDarkMode}">
  <h1>Liste des materiels </h1>

  @if (message) {
    {{ message }}
  }

  <div class="container-search-filter">
    <!--    <input type="search" [(ngModel)]="searchMaterial" placeholder="search">-->
    <mat-form-field appearance="outline" class="searchMat">
      <mat-label>Rechercher</mat-label>
      <input matInput [(ngModel)]="searchMaterial" placeholder="Entrez un matériel">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <span class="spacer"></span>

    <button mat-raised-button (click)="onSort()" class="btn-filter-new">Trier
      <mat-icon>sort_by_alpha</mat-icon>
    </button>

    <span class="spacer"></span>

    <button mat-raised-button [routerLink]="['/material/create/new-material']" class="btn-filter-new"> Créer un nouveau matériel
      <mat-icon>construction</mat-icon>
    </button>

    <!--    <button type="button" mat-button="outlined" (click)="onSort()" >Trier  <mat-icon matSuffix>sort_by_alpha</mat-icon></button>-->
  </div>
  <div class="cards">

    @for (material of pagedMaterials | searchMaterialFilter:searchMaterial; track material.nameMaterial) {
      <mat-card appearance="outlined" class="cards-material-category">
        <mat-card-header>
          <mat-card-title>{{ material.nameMaterial }}</mat-card-title>
        </mat-card-header>
        <mat-card-actions align="end">
          <div class="btn-menu">
            <button mat-button [matMenuTriggerFor]="sousMenuMaterial">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
          <mat-menu #sousMenuMaterial="matMenu">
            <button mat-menu-item (click)="openDetailDialog(material.id)">Détailler</button>
            @if (role === 'MODERATOR' || role === 'ADMIN') {
              <button mat-menu-item [routerLink]="['/material', material.id, 'edit']">Modifier</button>
            }
            @if (role === 'ADMIN') {
              <button mat-menu-item (click)="openDeleteDialog(material.id, material.nameMaterial)">Supprimer</button>
            }
          </mat-menu>

          <span class="spacer"></span>

          <div class="btn-show">
            <button mat-button>Voir</button>
          </div>
        </mat-card-actions>
      </mat-card>
    }
  </div>

</div>
<div [ngClass]="{'dark-mode-toolbar': isDarkMode, 'light-mode-toolbar': !isDarkMode}">
  <mat-paginator class="pagination"
                 [length]="materials.length"
                 [pageSize]="pageSize"
                 (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
