/* The size of header */
mat-toolbar {
  font-size: 17px;
  height: 2vw;
}

/* Change color for dark mode */
.dark-mode-toolbar {
  background-color: #b6dcf1;
  color: #2b2b2b;

  mat-icon {
    color: #2b2b2b;
  }
}

/* Change color for light mode */
.light-mode-toolbar {
  background-color: #0e3449;
  color: #d4d4d4;
  mat-icon {
    color: #d4d4d4;
  }
}

/* Flexible spacing for the toolbar */
.example-spacer {
  flex: 1 1 auto;
}
