@use '@angular/material' as mat;

h1 {
  text-align: center;
  font-family: 'Libre Baskerville italic', serif;
  margin-bottom: -15px;
}

.tableauUserUpdate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 81vh;
}

.tabUpdateUser {
  min-width: 150px;
  max-width: 700px;
  width: 100%;
}

.inputMatField {
  width: 100%;
}

td {
  padding-right: 8px;
  width: 500px;
  vertical-align: top;
}

/**
* Style for light mode
 */
.light-mode {

  background-color: #f0f0f0;

  h1 {
    color: #6d7c5f;
  }

  @include mat.tabs-overrides((
    active-indicator-color:#4E9442,
    active-focus-indicator-color:#4E9442,
    active-hover-indicator-color:#4E9442,

    //
    inactive-label-text-color: #6d7c5f,
    active-label-text-color:#545E4C,
    active-focus-label-text-color:#545E4C,
    inactive-hover-label-text-color:#4E9442,
  ));
}

/**
 * Style for dark mode
 **/
.dark-mode {

  background-color: #2b2b2b;

  h1 {
    color: #CCD5B9;
  }

  @include mat.tabs-overrides((
    active-indicator-color:#BaF2B5,
    active-focus-indicator-color:#BaF2B5,
    active-hover-indicator-color:#BaF2B5,

    //
    inactive-label-text-color: #CCD5B9,
    active-label-text-color:#cbd1c1,
    active-focus-label-text-color:#cbd1c1,
    inactive-hover-label-text-color:#BaF2B5,
  ));
}
