//@use '@angular/material' as mat;
//
//.container-category {
//  width: 100%;
//  height: 90vh;
//  justify-content: space-between;
//}
//
//h1 {
//text-align: center ;
//}
//
//h3{
//color:red;
//}
//
//



.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-group {
  display: flex;
  gap: 16px;
  margin-top: 8px;

  #btnSave{
  background-color: green;
  }

  #btnDelete{
    background-color: red;
    color: white;
  }
}
