<div [ngClass]="{'dark-mode': isDarkMode, 'light-mode': !isDarkMode}">
  <h2 mat-dialog-title> Suppression du matériel </h2>

  @if (messageSuccess) {
    {{ messageSuccess }}
  }
  @if (message) {
    {{ message }}
  }
  <mat-dialog-content>
    <p>Êtes vous sûr de vouloir supprimer le matériel : <br><br />
      <span class="spanDeleteMaterial">{{ nameMaterial }}</span>
    </p>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button class="btn-close-dialog" mat-dialog-close> Retourn</button>
    <button mat-raised-button class="btn-delete-material" (click)="onDeleteMaterial()"> Supprimer</button>
  </mat-dialog-actions>
</div>
