div {
  height: 20vw;
  font-size: 17px;
}


/*
 * Style for light mode
 */
.light-mode {
  background-color: #387190;
  color: white;
}

/*
 * Style for dark mode
 */
.dark-mode {
  background-color: #19435a;
  color: #cbd1c1;
}
