@use '@angular/material' as mat;

h2 {
  text-align: center;
  font-family: 'Libre Baskerville italic', serif;
}

.tableauUpdatePassword {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabUpdateUser {
  min-width: 150px;
  max-width: 700px;
  width: 100%;
}

.inputMatField {
  width: 100%;
}

td {
  padding-right: 8px;
  width: 500px;
  vertical-align: top;
}

/**
* Style for light mode
 */
.light-mode {

  h2 {
    color: #6d7c5f;
  }

  // Color for form change password
  .inputMatField {
    @include mat.form-field-overrides((
      outlined-outline-color: #6D7C5F,
      outlined-focus-outline-color: #6D7C5F,
      outlined-caret-color: #6D7C5F,
      outlined-hover-outline-color: #6D7C5F,
      outlined-label-text-color: #6D7C5F,
      outlined-focus-label-text-color: #6D7C5F,
      outlined-hover-label-text-color: #4E9442,
      outlined-input-text-placeholder-color:#4E9442,
      outlined-input-text-color: #545E4C,
    ));
  }

  // Button to change password
  #btnChangePassword{
    background-color: #FF9720;
    color:white;
  }

}

/**
 * Style for dark mode
 **/
.dark-mode {

  h2 {
    color: #CCD5B9;
  }

  // Color for form change password
  .inputMatField {
    @include mat.form-field-overrides((
      outlined-outline-color: #CBD1C1,
      outlined-focus-outline-color: #CBD1C1,
      outlined-caret-color: #CBD1C1,
      outlined-hover-outline-color: #CBD1C1,
      outlined-label-text-color: #CBD1C1,
      outlined-focus-label-text-color: #CBD1C1,
      outlined-hover-label-text-color: #BAF2B5,
      outlined-input-text-placeholder-color:#BAF2B5,
      outlined-input-text-color: #CCD5B9,
    ));
  }

  // Button to change password
  #btnChangePassword{
    background-color: #FF9720;
    color:black;
  }

}
