<h2>Modifier le mot de passe: </h2>

@if (message) {
  <div class="msgError">
    {{ message }}
  </div>
} @else if (messageSuccess) {
  <div class="msgSuccess">
    {{ messageSuccess }}
  </div>
}

<form [formGroup]="editPasswordForm" (ngSubmit)="onSubmitChangePassword()">

  <table class="tabUpdateUser">
    <tr>
      <td colspan="2">
        <mat-form-field appearance="outline" class="inputMatField">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="adresse@email.com" formControlName="email">
          <mat-error>L'adresse email est requise.</mat-error>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="outline" class="inputMatField">
          <mat-label>Mot de passe</mat-label>
          <input type="password" matInput placeholder="Mot de passe"
                 [type]="hidePassword ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error>Le mot de passe est requis.</mat-error>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="outline" class="inputMatField">
          <mat-label>Confirmer le mot de passe</mat-label>
          <input type="password" matInput placeholder="Comfirmer le mot de passe"
                 [type]="hidePassword ? 'password' : 'text'" formControlName="comparePassword">
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error>Le mot de passe est requis.</mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <div class="btn-update">
    <button type="submit" mat-stroked-button>Modifier</button>
  </div>

</form>

