<h2>Modifier le mot de passe: </h2>

<div class="tableauUpdatePassword">

  <form>

    <table class="tabUpdateUser">
      <tr>
        <td>
          <mat-form-field appearance="outline" class="inputMatField">
            <mat-label>Mot de passe</mat-label>
            <input type="password" matInput placeholder="Mot de passe"
                   [type]="hidePassword ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePassword">
              <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error>Le mot de passe email est requis.</mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline" class="inputMatField">
            <mat-label>Confirmer le mot de passe</mat-label>
            <input type="password" matInput placeholder="Comfirmer le mot de passe"
                   [type]="hidePassword ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePassword">
              <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-error>Le mot de passe email est requis.</mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <div class="btn-update">
      <button type="submit" mat-stroked-button>Modifier</button>
    </div>

  </form>
</div>

