<div [ngClass]="{'dark-mode-toolbar': isDarkMode, 'light-mode-toolbar': !isDarkMode}">
  <h1> Nouveau materiel</h1>

  @if (messageSuccess) {
    {{ messageSuccess }}
  }
  @if (message) {
    {{ message }}
  }

  <form [formGroup]="newMaterialForm" (ngSubmit)="onSubmitNewMaterial()">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Nom de la catégorie:</mat-label>
        <input matInput type="text" [matAutocomplete]="listCategories" formControlName="category">
        <mat-autocomplete #listCategories="matAutocomplete">
          <!--          <mat-option *ngFor="let category of filteredCategories | async" [value]="category.nameCategory">-->

          @for ( category of filteredCategories?.forEach(); track category | async) {
            <mat-option [value]="category.nameCategory">
              <p>{{ category.nameCategory }}</p>
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Nom du material:</mat-label>
        <input matInput placeholder="Placeholder" formControlName="nameMaterial">
      </mat-form-field>
    </p>

    <p>
      <mat-slide-toggle formControlName="isAvailable">
        @if (newMaterialForm.get('isAvailable')?.value) {
          <p>Actif</p>
        } @else {
          <p>desactivé</p>
        }
      </mat-slide-toggle>
    </p>

    <button mat-raised-button type="submit">Sauvegarder</button>
  </form>

</div>
